<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.appmoksha.android.interviewsavvy" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name="com.appmoksha.android.interviewsavvy.TopicListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.appmoksha.android.interviewsavvy.TopicQAPagerActivity"
                  android:label="@string/app_name"
                  android:parentActivityName="com.appmoksha.android.interviewsavvy.TopicListActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appmoksha.android.interviewsavvy.TopicListActivity" />
        </activity>
    </application>

</manifest>
